node_modules
dist
.tmp
.sass-cache
bower_components
app/*.html
*.sublime-workspace
*.sublime-project
app/images/thumbnails/
app/images/gallery/thumbnails/
app/images/cds/thumbnails/
validation-report.json
validation-status.json
app/images/gallery/resized/
app/images/poster/thumbnails/
