<!doctype html>
<html class="no-js" lang="de">

<head>
    @@include('../../includes/header.html', {"title":"Galerie - Konzert 2016 &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../../includes/navigation.html', {"navgallery": true})
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2016</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/1aa.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/1aa.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/2a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/2a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/3a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/3a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/4.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/4a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/4a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/6.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/6.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/6a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/6a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/7a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/7a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/8.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/8.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/10.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/11a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/11a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/11a2.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/11a2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/12.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/12.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/13.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/13.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/15a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/15a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/16.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/16.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/16a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/16a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/17a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/17a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/19.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/19.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/19aa.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/19aa.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/20.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/20.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/28.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/28.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/2aa.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/2aa.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/67.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/67.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/68.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/68.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/69.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/69.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/145.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/145.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/146.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/146.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/146a.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/146a.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/147.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/147.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/148.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/148.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/197.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/197.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/198.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/198.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/199.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/199.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/200.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/200.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/201.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/201.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/202.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/202.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/203.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/203.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/205.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/205.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/207.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/207.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/208.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/208.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/209.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/209.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/210.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/210.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/213.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/213.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/220.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/220.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/371.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/371.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/370.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/370.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2016/Benefizkonzert270116.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2016/Benefizkonzert270116.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @@include('../../includes/gallery.html')
    <!-- Footer -->
    @@include('../../includes/footer.html')
</body>

</html>
