<!doctype html>
<html class="no-js" lang="de" dir="ltr">

<head>
    @@include('../../includes/header.html', {"title":"Galerie - Konzert 2019 &middot; Gospel People St. Antonius", "robots": "noindex,nofollow"})
</head>

<body>
    <!-- Navigation -->
    @@include('../../includes/navigation.html', {"navgallery": true})
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height" role="banner">
    </header>
    <!-- Content Section -->
    <main class="container" role="main">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2019</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/01.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/02.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/02.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/03.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/03.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/04.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/04.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/05.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/05.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/06.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/06.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/07.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/07.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/08.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/08.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/09.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/09.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/10.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/11.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/11.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/12.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/12.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/13.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/13.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/14.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/14.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/15.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/15.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/16.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/16.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/images/gallery/resized/konzert2019/17.jpg" data-gallery class="thumbnail">
                            <img src="/images/gallery/thumbnails/konzert2019/17.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include('../../includes/gallery.html')
    <!-- Footer -->
    @@include('../../includes/footer.html')
</body>

</html>
