<!doctype html>
<html class="no-js" lang="de" dir="ltr">

<head>
    @@include('../../includes/header.html', {"title":"CDs & DVDs &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../../includes/navigation.html', {"navcds":true})

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-cds image-bg-fixed-height" role="banner">
    </header>

    <!-- Content Section -->
    <main class="container" role="main">
        <section>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="section-heading">CDs &amp; Doppel DVD</h1>
                    <p class="section-paragraph">Sie interessieren sich für unsere Aufnahmen?
                        <br />Bitte wenden Sie sich über das Kontaktformular an unseren Vorsitzenden Günter Harmeling.
                        <br />Die Kosten für die einzelnen CDs betragen 10 € oder für beide zusammen 17,50 € und für die Doppel DVD 17,50 €.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 cds">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/cds/thumbnails/adventure.jpg" alt="Adventure">
                            <div class="caption">
                                <h3>Adventure <small>2003</small></h3>
                                <ol>
                                    <li>Adventure</li>
                                    <li>This train</li>
                                    <li>Help me stand</li>
                                    <li>Amen</li>
                                    <li>Jesus lover of my soul</li>
                                    <li>Homeless</li>
                                    <li>Operator</li>
                                    <li>Don’t you agree</li>
                                    <li>Move spirit</li>
                                    <li>Swing low</li>
                                    <li>Medley (Deine Liebe, Joshua fought the battle of Jericho, Steck mein Herz in Brand, Get together)</li>
                                    <li>We believe</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/cds/thumbnails/aholyghostparty.jpg" alt="A Holy Ghost Party">
                            <div class="caption">
                                <h3>A Holy Ghost Party <small>2010</small></h3>
                                <ol>
                                    <li>Time to celebrate</li>
                                    <li>Our God</li>
                                    <li>Lay your burdens down</li>
                                    <li>Lord I lift your name on high</li>
                                    <li>No rock to take my place</li>
                                    <li>Through it all</li>
                                    <li>Put your hand in the hand</li>
                                    <li>Lord I offer my life</li>
                                    <li>Awesome God</li>
                                    <li>He reigns</li>
                                    <li>All the time</li>
                                    <li>Friend of God</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/cds/thumbnails/powerofyourlove.jpg" alt="Power Of Your Love">
                            <div class="caption">
                                <h3>Power Of Your Love <small>2014</small></h3>
                                <h4>Gospel&nbsp;People</h4>
                                <ol>
                                    <li>Fly Away</li>
                                    <li>Time To Celebrate</li>
                                    <li>Put Your Hand In The Hand</li>
                                    <li>Let Me Fly</li>
                                    <li>Power Of Your Love</li>
                                    <li>Shabach</li>
                                    <li>Hallelujah, Salvation and Glory</li>
                                    <li>I Will Follow Him</li>
                                    <li>In The Sanctuary</li>
                                    <li>Alpha and Omega</li>
                                </ol>
                                <h4>Gospel&nbsp;People mit Three&nbsp;As&nbsp;1</h4>
                                <ol start="11">
                                    <li>Come Into His Presence</li>
                                </ol>
                                <h4>Three As 1</h4>
                                <ol start="12">
                                    <li>Like A Storm</li>
                                    <li>Sing It Up</li>
                                    <li>Taken At All</li>
                                </ol>
                                <h4>Gospel&nbsp;People mit Three&nbsp;As&nbsp;1</h4>
                                <ol start="15">
                                    <li>Friend Of God</li>
                                </ol>
                                <h4>Gospel&nbsp;People</h4>
                                <ol start="16">
                                    <li>Thy Will Be Done</li>
                                    <li>I Love To Praise Him</li>
                                    <li>Inspired</li>
                                    <li>My Father</li>
                                    <li>If I Need A Reason</li>
                                    <li>You Are My Friend</li>
                                </ol>
                                <h4>Gospel&nbsp;People mit Three&nbsp;As&nbsp;1</h4>
                                <ol start="22">
                                    <li>Halleluja</li>
                                    <li>My sweet Lord</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    @@include('../../includes/footer.html')
</body>

</html>
