<!doctype html>
<html class="no-js" lang="de" dir="ltr">

<head>
    @@include('../includes/header.html', {"title":"Seite nicht gefunden &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html')
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-imprint image-bg-fixed-height" role="banner">
    </header>
    <!-- Content Section -->
    <main class="container" role="main">
        <section>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="section-heading">Seite nicht gefunden!</h1>
                    <p class="section-paragraph">Die angegebene Seite konnte nicht gefunden werden.</p>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
