<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html title="Gospel People St. Antonius")-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html)-->
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-imprint image-bg-fixed-height">
    </header>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="section-heading">Seite nicht gefunden!</h1>
                    <p class="section-paragraph">Die angegebene Seite konnte nicht gefunden werden.</p>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <!--(bake ../includes/footer.html history="true")-->
</body>

</html>
