<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html title="Kontakt | Gospel People St. Antonius")-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navcontact="contact.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-contact image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="section-heading">Kontakt</h1>
                    <h3>Der Vorsitzende</h3>
                    <h4>Günter Harmeling</h4>
                    <form action="https://formkeep.com/f/51eb82a7be42" method="post" role="form">
                        <input type="hidden" name="utf8" value="✓">
                        <div class="form-group">
                            <label for="formname">Name</label>
                            <input id="formname" type="text" name="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="formemail">Email</label>
                            <input id="formemail" type="email" name="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="formmessage">Nachricht</label>
                            <textarea class="form-control" id="formmessage" name="message" rows="5" placeholder="Nachricht"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Abschicken</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
