<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navgallery="gallery.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2008</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/aagesamt.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/aagesamt.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/alt.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/alt.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/arufen.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/arufen.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/band.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/band.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/bass-alt.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/bass-alt.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/bass.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/bass.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/haende-2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/haende-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/haende.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/haende.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/mit-peter.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/mit-peter.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/sopran.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/sopran.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/zuschauer-haende.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/zuschauer-haende.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2008/zzdanke.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/zzdanke.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/poster/konzert-2008.jpg" data-gallery class="thumbnail">
                            <img src="images/poster/thumbnails/konzert-2008.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">&nbsp;</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
