<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Galerie - Konzert 2017 &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html', {"navgallery": true})
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2017</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/001.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/001.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/002.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/002.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/003.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/003.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/004.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/004.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/005.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/005.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/006.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/006.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/007.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/007.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/007a.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/007a.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/008.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/008.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/008a.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/008a.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/008b.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/008b.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/009.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/009.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/010.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/010.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/011.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/011.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/012.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/012.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/013.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/013.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/014.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/014.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/051.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/051.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2017/117.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2017/117.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @@include('../includes/gallery.html')
    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
