<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Galerie &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html', {"navgallery":true})
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Galerie</h1>
                </div>
            </div>
            <div id="links" class="gallery-links">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2016.html" title="Konzert 2016" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2016/1aa.jpg" alt="Konzert 2016">
                            <div class="caption">
                                <h3>Konzert 2016</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2015.html" title="Konzert 2015" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-01.jpg" alt="Konzert 2015">
                            <div class="caption">
                                <h3>Konzert 2015</h3>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2014.html" title="Konzert 2014" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3676.jpg" alt="Konzert 2014">
                            <div class="caption">
                                <h3>Konzert 2014</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2012.html" title="Konzert 2012" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/chor-3.jpg" alt="Konzert 2012">
                            <div class="caption">
                                <h3>Konzert 2012</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2008.html" title="Konzert 2008" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2008/aagesamt.jpg" alt="Konzert 2008">
                            <div class="caption">
                                <h3>Konzert 2008</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="gallery-konzert2006.html" title="Konzert 2006" class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s1.jpg" alt="Konzert 2006">
                            <div class="caption">
                                <h3>Konzert 2006</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
