<!doctype html>
<html class="no-js" lang="de" dir="ltr">

<head>
  @@include('../includes/header.html', {"title":"Galerie &middot; Gospel People St. Antonius"})
</head>

<body>
<!-- Navigation -->
@@include('../includes/navigation.html', {"navgallery":true})
<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-gallery image-bg-fixed-height" role="banner">
</header>
<!-- Content Section -->
<main class="container" role="main">
  <section>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Galerie</h1>
      </div>
    </div>
    <div id="links" class="gallery-links">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2018.html" title="Konzert 2018" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2018/09.jpg" alt="Konzert 2018">
            <div class="caption">
              <h3>Konzert 2018</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2017.html" title="Konzert 2017" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2017/001.jpg" alt="Konzert 2017">
            <div class="caption">
              <h3>Konzert 2017</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2016.html" title="Konzert 2016" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2016/1aa.jpg" alt="Konzert 2016" style="margin-bottom: 1rem;">
            <div class="caption">
              <h3>Konzert 2016</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2015.html" title="Konzert 2015" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2015/konzert-01.jpg" alt="Konzert 2015" style="margin-bottom: 3rem;">
            <div class="caption">
              <h3>Konzert 2015</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2014.html" title="Konzert 2014" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2014/dsc3676.jpg" alt="Konzert 2014" style="margin-bottom: 1rem;">
            <div class="caption">
              <h3>Konzert 2014</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2012.html" title="Konzert 2012" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2012/chor-3.jpg" alt="Konzert 2012" style="margin-bottom: 1rem;">
            <div class="caption">
              <h3>Konzert 2012</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2010.html" title="Konzert 2010" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2010/konzert-09.jpg" alt="Konzert 2010">
            <div class="caption">
              <h3>Konzert 2010</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2008.html" title="Konzert 2008" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2008/aagesamt.jpg" alt="Konzert 2008" style="margin-bottom: 1rem;">
            <div class="caption">
              <h3>Konzert 2008</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="/gallery/konzert2006.html" title="Konzert 2006" class="thumbnail">
            <img src="/images/gallery/thumbnails/konzert2006/2006-s1.jpg" alt="Konzert 2006" style="margin-bottom: 1rem;">
            <div class="caption">
              <h3>Konzert 2006</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Footer -->
@@include('../includes/footer.html')
</body>

</html>
