<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navgallery="gallery.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2012</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/abbau.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/abbau.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/after-show.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/after-show.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/aileen.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/aileen.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/alt-4.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/alt-4.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/alt.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/alt.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/anja2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/anja2.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/anne-beim-verlesen-des-spendenergebnisses.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/anne-beim-verlesen-des-spendenergebnisses.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/anne-seka-2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/anne-seka-2.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/chor-3.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/chor-3.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/finale.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/finale.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/geinsam.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/geinsam.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/juergen.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/juergen.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/klatschen.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/klatschen.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/kopftuch.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/kopftuch.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/marlene-solo.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/marlene-solo.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/monika.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/monika.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/peter.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/peter.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/solo.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/solo.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/sopran-3.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/sopran-3.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/sopran2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/sopran2.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/stefan-timo.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/stefan-timo.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/technikstimmung.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/technikstimmung.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/tenor-4.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/tenor-4.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/tenor-x.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/tenor-x.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/tenor2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/tenor2.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/tenor5.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/tenor5.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/voll-besetztes-buehnenhaus.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/voll-besetztes-buehnenhaus.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2012/xtephan.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2012/xtephan.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">&nbsp;</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
