<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html title="Galerie - Konzert 2006 | Gospel People St. Antonius")-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navgallery="gallery.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2006</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-8.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-8.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-9.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-9.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s1.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s4.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s5.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s7.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s7.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-s3.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-s3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/poster/konzert-2006.jpg" data-gallery class="thumbnail">
                            <img src="images/poster/thumbnails/konzert-2006.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-2.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-3.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-konzert-antonius-1-jahreskonzert-november.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-konzert-antonius-1-jahreskonzert-november.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-4.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2006/2006-5.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2006/2006-5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">&nbsp;</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
