<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navgallery="gallery.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Galerie</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/aliki.jpg" title="Aliki" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/aliki.jpg" alt="Aliki">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/timostephan.jpg" title="Timo &amp; Stephan" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/timostephan.jpg" alt="Timpo &amp; Stephan">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/sopran.jpg" title="Sopran" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/sopran.jpg" alt="Sopran">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/alt.jpg" title="Alt" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/alt.jpg" alt="Alt">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/chor2008.jpg" title="Chor 2008" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/chor2008.jpg" alt="Chor 2008">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">&nbsp;</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
