<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navgallery="gallery.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2014</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3671.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3671.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3674.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3674.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3676.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3676.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3679.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3679.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3682.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3682.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3693.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3693.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3699.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3699.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3702.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3702.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3704.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3704.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3706.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3706.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3715.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3715.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3718.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3718.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3722.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3722.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3723.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3723.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3734.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3734.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3735.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3735.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3746.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3746.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3764.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3764.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3767.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3767.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3769.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3769.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3770.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3770.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3829.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3829.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3836.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3836.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3843.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3843.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3847.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3847.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3848.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3848.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3853.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3853.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3860.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3860.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3864.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3864.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3871.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3871.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3873.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3873.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3900.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3900.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3933.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3933.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3940.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3940.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3943.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3943.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3951.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3951.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3969.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3969.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/konzert2014/_dsc3991.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/_dsc3991.jpg">
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title">&nbsp;</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
