<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Galerie - Konzert 2014 &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html',  {"navgallery": true})

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2014</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3671.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3671.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3674.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3674.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3676.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3676.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3679.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3679.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3682.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3682.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3693.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3693.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3699.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3699.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3702.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3702.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3704.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3704.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3706.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3706.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3715.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3715.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3718.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3718.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3722.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3722.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3723.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3723.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3734.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3734.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3735.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3735.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3746.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3746.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3764.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3764.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3767.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3767.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3769.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3769.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3770.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3770.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3829.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3829.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3836.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3836.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3843.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3843.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3847.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3847.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3848.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3848.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3853.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3853.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3860.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3860.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3864.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3864.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3871.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3871.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3873.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3873.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3900.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3900.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3933.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3933.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3940.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3940.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3943.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3943.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3951.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3951.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3969.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3969.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2014/dsc3991.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2014/dsc3991.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/poster/konzert-2014.jpg" data-gallery class="thumbnail">
                            <img src="images/poster/thumbnails/konzert-2014.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @@include('../includes/gallery.html')

    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
