<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Galerie - Konzert 2015 &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html', {"navgallery": true})
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-gallery image-bg-fixed-height">
    </header>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Konzert 2015</h1>
                </div>
            </div>
            <div id="links" class="gallery-thumbnails">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-01.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-02.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-02.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-03.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-03.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-04.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-04.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-05.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-05.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-06.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-06.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-07.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-07.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-08.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-08.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-09.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-09.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-10.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-10.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-11.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-11.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-12.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-12.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-13.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-13.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-15.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-15.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-16.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-16.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-17.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-17.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-18.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-18.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-19.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-19.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-20.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-20.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-21.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-21.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-22.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-22.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-23.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-24.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-25.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-25.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-26.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-26.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-27.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-27.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-28.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-28.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-29.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-29.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-30.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-30.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-31.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-31.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-32.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-32.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-33.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-33.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-34.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-34.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-35.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-35.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/gallery/resized/konzert2015/konzert-36.jpg" data-gallery class="thumbnail">
                            <img src="images/gallery/thumbnails/konzert2015/konzert-36.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="images/poster/konzert-2015.png" data-gallery class="thumbnail">
                            <img src="images/poster/thumbnails/konzert-2015.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @@include('../includes/gallery.html')
    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
