<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html)-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-history image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Chorchronik</h1>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
