<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html title="Chorchronik &middot; Gospel People St. Antonius")-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navhistory="history.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-history image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div style="width: 100%; height: 600px">
        <div id="timeline-embed"></div>
        <script type="text/javascript">
        var timeline_config = {
            width: '100%',
            height: '600',
            source: 'history/history.json',
            embed_id: 'timeline-embed',
            lang: 'de',
            start_at_end: true
        }
        </script>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html history="true")-->
</body>

</html>
