<!doctype html>
<html class="no-js" lang="de" dir="ltr">

<head>
  <meta name="description" content="Stöbern Sie in der fast 30-jährigen Geschichte des Gospel Chores: Gospel People St. Antonius">
  @@include('../includes/header.html', {"title":"Chorchronik &middot; Gospel People St. Antonius"})
  <link rel="stylesheet" href="/bower_components/TimelineJS3/compiled/css/timeline.css" />
</head>

<body>
<!-- Navigation -->
@@include('../includes/navigation.html', {"navhistory": true})

<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-history image-bg-fixed-height" role="banner">
</header>

<!-- Content Section -->
<main style="width: 100%; height: 800px" id="timeline-embed" role="main"></main>
<!-- Footer -->
@@include('../includes/footer.html', {"history": true, "script": true})
<script type="text/javascript">
  var timeline_config = {
    start_at_end: "true",
    language: 'de',
    width: '100%',
    height: '800',
    timenav_height: 300,
    initial_zoom: 4,
    marker_height_min: 50,
    marker_width_min: 150
  }
  var json = $.getJSON('/history/history.json', function(data) {
    var timeline = new TL.Timeline('timeline-embed', data, timeline_config);
    timeline.on('loaded', function(data) {
      setTimeout(function() {
        $('.image-popup').magnificPopup({
          type: 'image'
        });
      }, 1000);
    });
    setTimeout(function() {
      $('.image-popup').magnificPopup({
        type: 'image'
      });
    }, 3000);
    timeline.on('change', function(data) {
      $('.image-popup').magnificPopup({
        type: 'image'
      });
      $('#' + data.unique_id + ' .tl-media').not('.tl-slide-text-only').arrive('.tl-media-item', function() {
        $(this).parent().parent().find('.image-popup').magnificPopup({
          type: 'image'
        });
        $(document).unbindArrive('#' + data.unique_id + ' .tl-media');
      });
    });
  });
</script>
</body>

</html>
