<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html')
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-main image-bg-fixed-height">
    </header>
    <script type="application/ld+json">
      {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "http://www.gospel-people.de/",
      "logo": "http://www.gospel-people.de/logo.png"
      }
    </script>
    <div id="fb-root"></div>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="section-heading">Gospel&nbsp;People <small>St.&nbsp;Antonius</small></h1>
                    <p class="section-paragraph">Die Gospel People sind ein gemischter Chor mit ca. 50 Sängerinnen und Sängern jeder Altersstufe. Unter der Leitung von Stephan Marten singen wir klassische Gospels und Spirituals, doch unser Schwerpunkt liegt vor allem bei modernen Gospel Songs von unterschiedlichen Komponisten.</p>
                    <p class="section-paragraph">Die Präsenz des Chores, der Rhythmus und die Begeisterung ist fühlbar, so dass der berühmte Funke auf den Zuschauer überspringt. Die Musiker unserer Band sind eine hervorragende Begleitung und verstehen es musikalische Akzente zu setzen.</p>
                    <p class="section-paragraph">Die Gospel People bestehen seit über 20 Jahren, doch es wird nie langweilig. Wir erweitern ständig unser Repertoire, stellen uns neuen Herausforderungen, die wir mit großer Freude präsentieren. Der musikalische Anspruch ist hoch, aber ebenso wichtig ist der Gruppe der Spaß am Gesang und der herzliche Umgang miteinander. Wir sind eine bunt gemischte Gruppe, bei der das Chorleben nicht zu kurz kommt, denn gemeinsame Ausflüge und Feste gehören ebenso dazu wie arbeitsintensive Workshops.</p>
                    <p class="section-paragraph">Wir singen bei Gottesdiensten, Hochzeiten, feierlichen Gelegenheiten und beteiligen uns an Gospelveranstaltungen. Die jährlichen Höhepunkte sind unsere regelmäßigen Konzerte in der Kirche unserer Heimatgemeinde St. Antonius in Wesel und die Benefizkonzerte für das SEKA Projekt im städtischen Bühnenhaus. Bei unserem Konzert im März 2014 ist unsere erste Live-DVD entstanden.</p>
                    <p class="section-paragraph">Die Proben finden jeden Mittwoch von 19.00-21.00 Uhr im Pfarrheim der Antonius Kirche in Wesel Obrighoven statt.</p>
                    <p class="section-paragraph">Wir sind offen für neue Mitglieder und laden Interessierte für den Chor und für die Band herzlich zu den Proben ein.</p>
                    <p class="section-paragraph">Wenn Sie uns für eine Hochzeit, zu einer Feierlichkeit oder zur Gestaltung eines Gottesdienstes buchen möchten, nehmen Sie bitte Kontakt mit uns auf.</p>
                </div>
                <div class="col-md-4">
                    <div class="well events">
                        <h4>Künftige Auftritte</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div>
                                      <script type="application/ld+json">{
                                         "@context":"http://schema.org/",
                                         "@type":"MusicEvent",
                                         "name":"Konzert in der St. Antonius Kirche",
                                         "url":"http://www.gospel-people.de",
                                         "startDate":"2017-04-01T20:00",
                                         "endDate":"2017-04-01T23:00",
                                         "image":{
                                           "@type":"ImageObject",
                                           "url":"http://www.gospel-people.de/images/poster/konzert-2017.png",
                                           "thumbnailUrl":"http://www.gospel-people.de/images/poster/thumbnails/konzert-2017.png"
                                         },
                                         "location":{
                                            "@type":"PlaceOfWorship",
                                            "name":"St. Antonius Kirche",
                                            "address":{
                                               "@type":"PostalAddress",
                                               "addressLocality":"Wesel",
                                               "postalCode":"46483",
                                               "streetAddress":"St. Antonius Weg 13"
                                            }
                                         },
                                         "performer":{
                                            "@type":"MusicGroup",
                                            "name":"Gospel People St. Antonius"
                                         },
                                         "description":"ES IST WIEDER SOWEIT!\nWir geben unser nächstes Konzert, diesmal unter dem Namen \"Rejoice\" in der St. Antonius Kirche in Wesel Obrighoven!\n\nLasst euch von unseren modernen Gospelliedern verzaubern, und genießt einen tollen Abend mit Gesang, Tanz und viel Spaß!\n\nEgal ob groß und klein, jung oder alt: Alle Altersklassen sind herzlich eingeladen!",
                                         "eventStatus":"http://schema.org/EventScheduled",
                                         "offers": {
                                            "@type": "Offer",
                                            "url": "http://www.gospel-people.de/ticket.html",
                                            "price": "8",
                                            "priceCurrency": "EUR",
                                            "availability": "http://schema.org/InStock",
                                            "availabilityStarts":"2017-03-01T08:00",
                                            "inventoryLevel":250
                                          }
                                      }
                                      </script>
                                    <div>
                                        <h5>
                                            <small>01.04.2017 20:00</small>
                                            <a href="ticket.html">
                                                <span>Konzert: Rejoice</span>
                                                <span>
                                                  <span>St. Antonius Kirche</span>
                                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div>
                                        <a href="images/poster/konzert-2017.png" class="image-popup" title="Rejoice">
                                            <img src="images/poster/thumbnails/konzert-2017.png" alt="Rejoice" class="center-block">
                                        </a>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div>
                                      <script type="application/ld+json">{
                                         "@context":"http://schema.org/",
                                         "@type":"Event",
                                         "name":"Gottesdienst",
                                         "description":"Gottesdienst in der St. Antonius Kirche",
                                         "startDate":"2017-04-29T18:30",
                                         "endDate":"2017-04-29T19:30",
                                         "url":"http://www.gospel-people.de",
                                         "location":{
                                            "@type":"PlaceOfWorship",
                                            "name":"St. Antonius Kirche",
                                            "address":{
                                               "@type":"PostalAddress",
                                               "addressLocality":"Wesel",
                                               "postalCode":"46483",
                                               "streetAddress":"St. Antonius Weg 13"
                                            }
                                         },
                                         "performer":{
                                            "@type":"MusicGroup",
                                            "name":"Gospel People St. Antonius"
                                         },
                                         "eventStatus":"http://schema.org/EventScheduled"
                                      }
                                      </script>
                                    <div>
                                        <h5>
                                            <small>29.04.2017 18:30</small>
                                            <span>Gottesdienst</span>
                                            <span>
                                              <span>St. Antonius Kirche</span>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                      <script type="application/ld+json">{
                                         "@context":"http://schema.org/",
                                         "@type":"Event",
                                         "name":"Hochzeitsgottesdienst",
                                         "description":"Hochzeitsgottesdienst in der Schloßkirche, Wesel-Diersfordt",
                                         "startDate":"2017-06-03T15:30",
                                         "endDate":"2017-06-03T16:30",
                                         "url":"http://www.gospel-people.de",
                                         "location":{
                                            "@type":"PlaceOfWorship",
                                            "name":"Schloßkirche, Wesel-Diersfordt",
                                            "address":{
                                               "@type":"PostalAddress",
                                               "addressLocality":"Diersfordt",
                                               "postalCode":"46487",
                                               "streetAddress":"Am Schloss 3"
                                            }
                                         },
                                         "performer":{
                                            "@type":"MusicGroup",
                                            "name":"Gospel People St. Antonius"
                                         },
                                         "eventStatus":"http://schema.org/EventScheduled"
                                      }
                                      </script>
                                    <div>
                                        <h5>
                                            <small>03.06.2017 15:30</small>
                                            <span>Hochzeitsgottesdienst</span>
                                            <span>
                                              <span>Schloßkirche, Wesel-Diersfordt</span>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                      <script type="application/ld+json">{
                                         "@context":"http://schema.org/",
                                         "@type":"Event",
                                         "name":"Ökumenischer Gottesdienst",
                                         "description":"Ökumenischer Gottesdienst in der St. Antonius Kirche",
                                         "startDate":"2017-06-05T10:30",
                                         "endDate":"2017-06-05T11:30",
                                         "url":"http://www.gospel-people.de",
                                         "location":{
                                            "@type":"PlaceOfWorship",
                                            "name":"St. Antonius Kirche",
                                            "address":{
                                               "@type":"PostalAddress",
                                               "addressLocality":"Wesel",
                                               "postalCode":"46483",
                                               "streetAddress":"St. Antonius Weg 13"
                                            }
                                         },
                                         "performer":{
                                            "@type":"MusicGroup",
                                            "name":"Gospel People St. Antonius"
                                         },
                                         "eventStatus":"http://schema.org/EventScheduled"
                                      }
                                      </script>
                                    <div>
                                        <h5>
                                            <small>05.06.2017 10:30</small>
                                            <span>Ökumenischer Gottesdienst</span>
                                            <span>
                                              <span>St. Antonius Kirche</span>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="well">
                        <div class="fb-like-box" data-href="https://www.facebook.com/GospelPeopleSt.Antonius" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
                        <a href="https://www.facebook.com/GospelPeopleSt.Antonius" target="_blank" class="zocial facebook">Besuche uns auf Facebook</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    @@include('../includes/footer.html', {"script":true})
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/de_DE/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
