<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html')
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-main image-bg-fixed-height">
    </header>
    <script type="application/ld+json">
      {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "http://www.gospel-people.de/",
      "logo": "http://www.gospel-people.de/logo.png"
      }
    </script>
    <div id="fb-root"></div>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="section-heading">Gospel&nbsp;People <small>St.&nbsp;Antonius</small></h1>
                    <p class="section-paragraph">Die Gospel People sind ein gemischter Chor mit ca. 50 Sängerinnen und Sängern jeder Altersstufe. Unter der Leitung von Stephan Marten singen wir klassische Gospels und Spirituals, doch unser Schwerpunkt liegt vor allem bei modernen Gospel Songs von unterschiedlichen Komponisten.</p>
                    <p class="section-paragraph">Die Präsenz des Chores, der Rhythmus und die Begeisterung ist fühlbar, so dass der berühmte Funke auf den Zuschauer überspringt. Die Musiker unserer Band sind eine hervorragende Begleitung und verstehen es musikalische Akzente zu setzen.</p>
                    <p class="section-paragraph">Die Gospel People bestehen seit über 20 Jahren, doch es wird nie langweilig. Wir erweitern ständig unser Repertoire, stellen uns neuen Herausforderungen, die wir mit großer Freude präsentieren. Der musikalische Anspruch ist hoch, aber ebenso wichtig ist der Gruppe der Spaß am Gesang und der herzliche Umgang miteinander. Wir sind eine bunt gemischte Gruppe, bei der das Chorleben nicht zu kurz kommt, denn gemeinsame Ausflüge und Feste gehören ebenso dazu wie arbeitsintensive Workshops.</p>
                    <p class="section-paragraph">Wir singen bei Gottesdiensten, Hochzeiten, feierlichen Gelegenheiten und beteiligen uns an Gospelveranstaltungen. Die jährlichen Höhepunkte sind unsere regelmäßigen Konzerte in der Kirche unserer Heimatgemeinde St. Antonius in Wesel und die Benefizkonzerte für das SEKA Projekt im städtischen Bühnenhaus. Bei unserem Konzert im März 2014 ist unsere erste Live-DVD entstanden.</p>
                    <p class="section-paragraph">Die Proben finden jeden Mittwoch von 19.00-21.00 Uhr im Pfarrheim der Antonius Kirche in Wesel Obrighoven statt.</p>
                    <p class="section-paragraph">Wir sind offen für neue Mitglieder und laden Interessierte für den Chor und für die Band herzlich zu den Proben ein.</p>
                    <p class="section-paragraph">Wenn Sie uns für eine Hochzeit, zu einer Feierlichkeit oder zur Gestaltung eines Gottesdienstes buchen möchten, nehmen Sie bitte Kontakt mit uns auf.</p>
                </div>
                <div class="col-md-4">
                    <div class="well events">
                        <h4>Künftige Auftritte</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div itemscope itemtype="http://schema.org/Event">
                                    <script type="application/ld+json">{
                                       "@context":"http://schema.org/",
                                       "@type":"Event",
                                       "name":"Hochzeitsgottesdienst",
                                       "startDate":"2016-10-01T14:30",
                                       "location":{
                                          "@type":"Place",
                                          "name":"Kirche St. Johannes, Wesel-Bislich",
                                          "address":{
                                             "@type":"PostalAddress",
                                             "addressLocality":"Wesel-Bislich",
                                             "postalCode":"46487",
                                             "streetAddress":"In den Plenken 1"
                                          }
                                       },
                                       "performer":{
                                          "@type":"MusicGroup",
                                          "name":"Gospel People St. Antonius"
                                       }
                                    }
                                    </script>
                                    <div>
                                        <h5>
                                            <small itemprop="startDate" content="2016-10-01T14:30">01.10.2016</small>
                                            <span itemprop="name">Hochzeitsgottesdienst</span>
                                            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                                              <span itemprop="name">Kirche St. Johannes, Wesel-Bislich</span>
                                              <meta itemprop="address" content="Kirche St. Johannes, Wesel-Bislich"/>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div itemscope itemtype="http://schema.org/Event">
                                    <script type="application/ld+json">{
                                       "@context":"http://schema.org/",
                                       "@type":"Event",
                                       "name":"Hochzeitsgottesdienst",
                                       "startDate":"2016-10-02T15:00",
                                       "location":{
                                          "@type":"Place",
                                          "name":"\"775 Jahre Wesel\" \"Gospel, Choir and More\"",
                                          "address":{
                                             "@type":"PostalAddress",
                                             "addressLocality":"Wesel",
                                             "postalCode":"46483",
                                             "streetAddress":"Am Kornmarkt"
                                          }
                                       },
                                       "performer":{
                                          "@type":"MusicGroup",
                                          "name":"Gospel People St. Antonius"
                                       },
                                       "url":"https://www.facebook.com/events/243340456048580/"
                                    }
                                    </script>
                                    <div>
                                        <h5>
                                            <small itemprop="startDate" content="2016-10-02T15:00">02.10.2016</small>
                                            <span itemprop="name">"775 Jahre Wesel" "Gospel, Choir and More"</span>
                                            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                                              <span itemprop="name">Kornmarkt Wesel</span>
                                              <meta itemprop="address" content="Kornmarkt Wesel"/>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div itemscope itemtype="http://schema.org/Event">
                                      <script type="application/ld+json">{
                                         "@context":"http://schema.org/",
                                         "@type":"Event",
                                         "name":"Gottesdienst zum Weltmissionstag",
                                         "startDate":"2016-10-23T10:30",
                                         "location":{
                                            "@type":"Place",
                                            "name":"Kirche St. Antonius, Wesel",
                                            "address":{
                                               "@type":"PostalAddress",
                                               "addressLocality":"Wesel",
                                               "postalCode":"46485",
                                               "streetAddress":"St.-Antonius-Weg 13"
                                            }
                                         },
                                         "performer":{
                                            "@type":"MusicGroup",
                                            "name":"Gospel People St. Antonius"
                                         }
                                      }
                                      </script>
                                    <div>
                                        <h5>
                                            <small itemprop="startDate" content="2016-10-23T10:30">23.10.2016</small>
                                            <span itemprop="name">Gottesdienst zum Weltmissionstag</span>
                                            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                                              <span itemprop="name">Kirche St. Antonius</span>
                                              <meta itemprop="address" content="Kirche St. Antonius"/>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="well">
                        <div class="fb-like-box" data-href="https://www.facebook.com/GospelPeopleSt.Antonius" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
                        <a href="https://www.facebook.com/GospelPeopleSt.Antonius" target="_blank" class="zocial facebook">Besuche uns auf Facebook</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    @@include('../includes/footer.html', {"script":true})
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/de_DE/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
