<!doctype html>
<html class="no-js">

<head>
    <!--(bake /header.html title="Gospel People St. Antonius")-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake /navigation.html)-->
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-main image-bg-fixed-height">
    </header>
    <div id="fb-root"></div>
    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="section-heading">Gospel&nbsp;People <small>St.&nbsp;Antonius</small></h1>
                    <p class="section-paragraph">Die Gospel People sind ein gemischter Chor mit ca. 50 Sängerinnen und Sängern jeder Altersstufe. Unter der Leitung von Stephan Marten singen wir klassische Gospels und Spirituals, doch unser Schwerpunkt liegt vor allem bei modernen Gospel Songs von unterschiedlichen Komponisten.</p>
                    <p class="section-paragraph">Die Präsenz des Chores, der Rhythmus und die Begeisterung ist fühlbar, so dass der berühmte Funke auf den Zuschauer überspringt. Die Musiker unserer Band sind eine hervorragende Begleitung und verstehen es musikalische Akzente zu setzen.</p>
                    <p class="section-paragraph">Die Gospel People bestehen seit über 20 Jahren, doch es wird nie langweilig. Wir erweitern ständig unser Repertoire, stellen uns neuen Herausforderungen, die wir mit großer Freude präsentieren. Der musikalische Anspruch ist hoch, aber ebenso wichtig ist der Gruppe der Spaß am Gesang und der herzliche Umgang miteinander. Wir sind eine bunt gemischte Gruppe, bei der das Chorleben nicht zu kurz kommt, denn gemeinsame Ausflüge und Feste gehören ebenso dazu wie arbeitsintensive Workshops.</p>
                    <p class="section-paragraph">Wir singen bei Gottesdiensten, Hochzeiten, feierlichen Gelegenheiten und beteiligen uns an Gospelveranstaltungen. Die jährlichen Höhepunkte sind unsere regelmäßigen Konzerte in der Kirche unserer Heimatgemeinde St. Antonius in Wesel und die Benefizkonzerte für das SEKA Projekt im städtischen Bühnenhaus. Bei unserem letzten Konzert im März 2014 ist unsere erste Live-DVD entstanden.</p>
                    <p class="section-paragraph">Die Proben finden jeden Mittwoch von 19.00-20.30 Uhr im Pfarrheim der Antonius Kirche in Wesel Obrighoven statt.</p>
                    <p class="section-paragraph">Wir sind offen für neue Mitglieder und laden Interessierte für den Chor und für die Band herzlich zu den Proben ein.</p>
                    <p class="section-paragraph">Wenn Sie uns für eine Hochzeit, zu einer Feierlichkeit oder zur Gestaltung eines Gottesdienstes buchen möchten, nehmen Sie bitte Kontakt mit uns auf.</p>
                </div>
                <div class="col-md-4">
                    <div class="well events">
                        <h4>Künftige Auftritte</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div itemscope itemtype="http://schema.org/Event">
                                    <div>
                                        <h5>
                                          <small itemprop="startDate" content="2015-09-19T12:00">29.09.2015</small>
                                          <span itemprop="name">Gemeinsames Singen mit dem Gospel Train auf dem großen Markt in Wesel zum Gospelday 2015</span>
                                        </h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="well">
                        <div class="fb-like-box" data-href="https://www.facebook.com/GospelPeopleSt.Antonius" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
                        <a href="https://www.facebook.com/GospelPeopleSt.Antonius" target="_blank" class="zocial facebook">Besuche uns auf Facebook</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <!--(bake /footer.html script="true")-->
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/de_DE/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
