<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html navsongs="songs.html")-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-songs image-bg-fixed-height">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12 songs">
                    <h1 class="section-heading">Repertoire &amp; Hörproben</h1>
                    <div class="col-lg-4">
                        <h3>A</h3>
                        <ul>
                            <li>All the time</li>
                            <li>Alpha And Omega</li>
                            <li>Amazing Grace</li>
                            <li>Amen (This Little Light)</li>
                            <li><a href="#">Awesome God <i class="glyphicon glyphicon-music"></i></a>
                            </li>
                        </ul>

                        <h3>B</h3>
                        <ul>
                            <li>Bless the lord</li>
                        </ul>
                        <h3>C</h3>
                        <ul>
                            <li>California dreamin'</li>
                            <li>Carol of the bells</li>
                            <li>Come into is presence</li>
                        </ul>


                        <h3>D</h3>
                        <ul>
                            <li>Deine Liebe</li>
                            <li>Do not pass me by</li>
                            <li>Don't you agree</li>
                            <li>Down in the river to pray</li>
                        </ul>

                        <h3>E</h3>
                        <ul>
                        </ul>

                        <h3>F</h3>
                        <ul>
                            <li>Fly away</li>
                            <li>Friend of God</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">

                        <h3>G</h3>
                        <ul>
                            <li>Get together</li>
                            <li>Go down Moses</li>
                            <li>Go tell it to the mountains</li>
                        </ul>
                        <h3>H</h3>
                        <ul>
                            <li>Hallelujah, salvation and glory</li>
                            <li>Hambani kale</li>
                            <li>Heaven</li>
                            <li>Heaven is a wonderful place</li>
                            <li>Heavenly love</li>
                            <li>Help me stand</li>
                            <li>He reigns</li>
                            <li>He's got the whole world</li>
                            <li>Holy</li>
                            <li>Homeless</li>
                            <li>Hosanna</li>
                        </ul>

                        <h3>I</h3>
                        <ul>
                            <li>If I need a reason</li>
                            <li>I love to praise him</li>
                            <li>In the sanctuary</li>
                            <li>Inspired</li>
                            <li>I offer my life</li>
                            <li>I will follow him</li>
                            <li>I woke up this morning</li>
                            <li>Irischer Segensgruß</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h3>J</h3>
                        <ul>
                            <li>Jesus, lover of my soul</li>
                            <li>Jesus, lover of my soul (Bach-Fassung)</li>
                            <li>Jesus is the reason</li>
                            <li>Joshua fought the battle of Jericho</li>
                        </ul>

                        <h3>K</h3>
                        <ul>
                            <li>Kyrie</li>
                        </ul>
                        <h3>L</h3>
                        <ul>
                            <li>Lay your burdens down</li>
                            <li>Let me fly</li>
                            <li>Let us go into the house of the lord</li>
                            <li>Lord, I lift your name on high</li>
                            <li>Lord, I want to be a christian</li>
                            <li>Lord, you are good</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
