<!doctype html>
<html class="no-js">

<head>
    <!--(bake ../includes/header.html)-->
</head>

<body>
    <!-- Navigation -->
    <!--(bake ../includes/navigation.html)-->

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="http://placehold.it/250x200&text=Gospel%20People" alt="Gospel People">
    </header>

    <!-- Content Section -->
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Repertoire</h1>
                    <p class="section-paragraph">A
A joyfull noise
All the time
Amazing grace
Amen (this little light)
Awesome God
B
Bless the lord

C
California dreamin'
Carol of the bells
Come into is presence
D
Deine Liebe
Do not pass me by
Don't you agree
Down in the river to pray

E
Every time I feel the spirit
F
Fly away
Friend of God

G
Gaudeamus
Get together
Go down Moses
Go tell it to the mountains
Gott ist da
H
Hallelujah, salvation and glory
Hambani kale
Heaven
Heaven is a wonderful place
Heavenly love
Help me stand
He reigns
He's got the whole world
Herr, erbarme Dich
Holy
Homeless
Höre nun Herr, wir kommen
Höre uns Herr
Hosanna

I
If I need a reason
I love to praise him
In the sanctuary
Inspired
I offer my life
I will follow him
I woke up this morning
Irischer Segensgruß

J
Jesus, lover of my soul
Jesus, lover of my soul (Bach-Fassung)
Jesus is the reason
Joshua fought the battle of Jericho


K
Kambujah my lord
Kyrie
L
Lay your burdens down
Lelo essengo ee
Let us break
Let us go into the house of the lord
Let us stand
Lord, I lift your name on high
Lord, I want to be a christian
Lord, you are good</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <!--(bake ../includes/footer.html)-->
</body>

</html>
