<!doctype html>
<html class="no-js">

<head>
    @@include('../includes/header.html', {"title":"Tickets &middot; Gospel People St. Antonius"})
</head>

<body>
    <!-- Navigation -->
    @@include('../includes/navigation.html', {"navticket":true})

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- Content Section -->
    <div class="container ticket-iframe">
      <iframe frameborder="0" height="900px" src="https://shop.ticketpay.de/NBBWPGCC" width="100%"></iframe>
    </div>
    <!-- Footer -->
    @@include('../includes/footer.html')
</body>

</html>
